#root{
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

#fundo{
    -fx-background-color: rgb(255, 255, 255);
}

#fundo2{
    -fx-border-color: black;
}

#h1{
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-align: center;
}

#h2{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#btMeuPerfil:hover{
    -fx-cursor: hand;
    -fx-visibility: hidden;
}

#button{
    -fx-background-color: black;
}

#buttonSair{
    -fx-background-color: red;
}

#button:hover, #buttonSair{
    -fx-text-fill: white;
}